body {
	background-color: black;
}

.container {
	/*width: 90%;*/
	height: 100vh;
	margin: auto;
	/*border: 2px solid blue;*/
}

.header {
	background-image: url('./assets/tableBackground.png');
	background-size: cover;
	/*position: fixed;*/
	height: 100%;
	width: 100%;
}

/*
.header-img {
	display: flex;
	justify-content: center;
	height: 500px;
}*/

.header h1 {
	text-align: center;
	color: #fff;
	/*margin-top: 40px;*/
}

.content {
	background-image: url('./assets/tableBackground.png');
	background-size: cover;
	width: 100%;
}
